/* CSS Document */

/* 
Color Palette
Primary: #E47F32
         #C7602C
BG: #1E1A18
Secondary: #F5C542 (Honey)
Cards: #2A2422
Accents: #3D3633
         #D94862 (Red)
Text: #3A2E2E (Coffee)
      #F2E9DF
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1A18;
    color: #F2E9DF;
}

main {
    font-size: 4.5em;
}

#setRed {
    color: #D94862;
    text-decoration: underline;
    font-size: inherit;
}

#setCenter {
    width: fit-content;
    margin: auto;
}


/* Header Part */

.header {
    text-align: right;
    height: 3.5rem;
    padding-bottom: 1rem;
}

.header a{
    font-size: 1.7rem;
    color: #F2E9DF;
    text-decoration: none;
    padding: 0 1.2rem;
    margin: 1.4rem;
}

/* Index Main Part */

.welcomeForm {
    font-size: 5.5rem;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem 1.2rem;
    background-color: #2A2422;
    border-radius: 1rem;
    width: fit-content;
    height: 50rem;
    text-align: center;
}

.welcomeForm input {
    border-radius: 1rem;
    border: 1px solid #3A2E2E;
    background-color: #1E1A18;
    color: #fff;
}

.welcomeForm input:hover {
    border: 2px solid #C1B5AD;
    background-color: #C1B5AD;
    color: #1E1A18;
}

.welcomeForm button {
    background-color: #C7602C;
    color: #fff;
    text-decoration: none;
    border: 1px solid #3A2E2E;
    border-radius: 0.75rem;
    width: fit-content;
    margin: auto;
}

.welcomeForm button:hover {
    border: 3px solid #3A2E2E;
    background-color: #9B4A21;
    margin-top: 1.5rem;
    margin-left: .5rem;
}

.welcomeForm a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem;
}
/* Budget Main Part */

.gatherData {
    background-color: #2A2422;
    color: #C1B5AD;
    max-width: 50rem;
    min-width: min-content;
    margin: auto;
    margin-top: 2rem;
    padding: 3rem;
    border: 5px solid #3A2E2E;
    border-radius: 1rem;
    font-size: larger;
    text-align: center;
}

.gatherData legend {
    text-decoration: underline;
}

#submitBtn {
    background-color: #C7602C;
    color: #fff;
    border: 2px solid #3A2E2E;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    margin-top: 2rem;
}

#id {
    width: 17rem;
    text-align: center;
    margin: auto;
}

#dateOfRecord {
    width: 17rem;
}

/* Records Table */
.dataRecord {
    font-size: 7rem;
    max-width: 50rem;
    padding: 3rem;
    margin: auto;
    margin-top: 5rem;
    background-color: #2A2422;
    border: 5px solid #3A2E2E;
    border-radius: 1rem;
}

/* Footer */

footer {
    margin-top: 15%;
    font-size: 2rem;
    text-align: right;
}

