/* CSS Document */

/* 
Color Palette
Primary: #E47F32
         #C7602C
BG: #1E1A18
Secondary: #F5C542 (Honey)
Cards: #2A2422
Accents: #3D3633
         #D94862 (Red)
Text: #3A2E2E (Coffee)
      #F2E9DF
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1A18;
    color: #F2E9DF;
}

main {
    font-size: 4.5em;
}

#setRed {
    color: #D94862;
    text-decoration: underline;
    font-size: inherit;
}

#setCenter {
    width: fit-content;
    margin: auto;
}


/* Header Part */

.header {
    text-align: right;
    height: 3.5rem;
    padding-bottom: 1rem;
}

.header a{
    font-size: 1.7rem;
    color: #F2E9DF;
    text-decoration: none;
    padding: 0 1.2rem;
    margin: 1.4rem;
}

/* Index Main Part */

.welcome {
    font-size: 5.5rem;
    margin: 1rem;
    padding: 1rem 1.2rem;
}

.setMiddle a {
    font-size: 10rem;
    color: #F2E9DF;
    text-decoration: underline;
    padding-top: 6rem;
}

.setMiddle {
    min-width: min-content;
    max-width: max-content;
    width: auto;
    height: auto;
    margin: auto;
}

/* Budget Main Part */

.gatherData {
    background-color: #2A2422;
    color: #C1B5AD;
    max-width: fit-content;
    min-width: min-content;
    margin: auto;
    margin-top: 2rem;
    padding: 3rem;
    border: 5px solid #3A2E2E;
    border-radius: 1rem;
    font-size: larger;
}

.gatherData legend {
    text-decoration: underline;
}

#id {
    width: 17rem;
    text-align: center;
    margin: auto;
}

#dateOfRecord {
    width: 17rem;
}

/* .expenses {
    background-color: #2A2422;
    color: #C1B5AD;
    max-width: fit-content;
    margin: 4rem;
    padding: 3rem;
    border: 5px solid #3A2E2E;
    border-radius: 1rem;
    font-size: larger;
} */

.button {
    font-size: larger;
    /* background-color: #3A2E2E; */
    color: #3A2E2E;
}

/* Footer */

footer {
    margin-top: 15%;
    font-size: 2rem;
    text-align: right;
}

